   div{
    /* background-color: rgba(0,0,0,.75); */
    background-color: #252830;
  }
  body{
    background-color:#131417;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#f1f1f1;
  }
  h1.heading{
    color:white;
    font-size:40px;
    text-align: center;
    padding: 7px;
    padding-top: 10px;
  }
  div input {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color:#007aff;;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #60666c;
  }
  .delete{
     margin-left: 45%;
     margin-top: 40px;
     width: 100px;
  }
  .delete:hover{
    background-color:rgb(211, 42, 42) ;
    transition: background-color 0.5s ease;
  }
  .pages{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background-color: #60666c;

  }
  .content{
    height: 100px;
    width:90%;
    text-align: center;
    font-size: 18px;

  }
  .ncontent{
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
  }
  .bnew{
    text-align: center;
    color:#fff;
    font-size:35px;
  }